<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    {% if config.FLOATING_MENU == True %}
        <meta name="rhum">
    {% endif %}
    <meta name=base content={{ config.ROOT_URL }}>
    <meta name=environment content={{ environment }}>
    <meta name=version content={{ version }}>

    <title>Logistik Dashboard</title>

    <link rel="stylesheet" type="text/css" media="all" href="static/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="static/datatables.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript" src="static/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="static/datatables.min.js"></script>
    <script type="text/javascript" src="static/sigma.min.js"></script>
    <script type="text/javascript" src="static/vis.js"></script>
    <link href="static/vis-network.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="static/custom/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="static/custom/css/style.css" />
</head>
<body>
    <div>
        <h2>Network</h2>
        <div id="network"></div>
    </div>

    <div>
        <h2>Staging Area</h2>

        <div id="model-container">
            {% for handler in handlers %}
                {% if handler['enabled'] and handler['model_type'] == 'canary' %}
                    <div class="card canary-card">
                        <div class="model-title-version">
                            <h3>{{ handler['node_id'] }}</h3>
                            <div class="model-version">
                                {{ handler['version'] }} ::
                                <b>{{ handler['model_type'] }}</b> ::
                                {{ handler['traffic'] }}
                            </div>
                            <hr />
                        </div>

                        <div class="model-info">
                            Uptime: <span class="uptime">{{ handler['uptime'] }}</span><br />
                            Average: {{ handler['average'] }} ms<br />
                            Stddev: {{ handler['stddev'] }}
                        </div>
                        <div class="footer">
                            <div class="left">
                                <p>
                                    <a href="/disable/{{ handler['node_id'] }}">Disable</a>
                                </p>
                            </div>
                            <div class="right">
                                <p><a href="/promote/{{ handler['node_id'] }}">Promote</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div style="clear: both;"></div>
    </div>

    <div>
        <h2>Live Models</h2>

        <div id="model-container">
            {% for handler in handlers %}
                {% if handler['enabled'] and handler['model_type'] != 'canary' %}
                    <div class="card model-card">
                        <div class="model-title-version">
                            <h3>{{ handler['node_id'] }}</h3>
                            <div class="model-version">
                                {{ handler['version'] }} :: <b>{{ handler['model_type'] }}</b>
                            </div>
                            <hr />
                        </div>

                        <div class="model-info">
                            Uptime: <span class="uptime">{{ handler['uptime'] }}</span><br />
                            Average: {{ handler['average'] }} ms<br />
                            Stddev: {{ handler['stddev'] }}
                        </div>
                        <div class="footer">
                            <div class="left">
                                <p>
                                    <a href="/demote/{{ handler['node_id'] }}">Demote</a> |
                                    <a href="/disable/{{ handler['node_id'] }}">Disable</a>
                                </p>
                            </div>
                            <div class="right">
                                <p></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div style="clear: both;"></div>

        <table id="models" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Model</th>
                <th>Version</th>
                <th>Type</th>
                <th>Traffic Allocation</th>
                <th>Uptime</th>
                <th>Average runtime (ms)</th>
                <th>Min (ms)</th>
                <th>Max (ms)</th>
                <th>Standard deviation</th>
            </thead>
            <tbody>
                {% for handler in handlers %}
                    {% if handler['enabled'] %}
                    <tr>
                        <td>{{ handler['node_id'] }}</td>
                        <td>{{ handler['version'] }}</td>
                        <td>{{ handler['model_type'] }}</td>
                        {% if handler['model_type'] == 'canary' %}
                            <td>{{ handler['traffic'] }}</td>
                        {% else %}
                            <td>(balanced)</td>
                        {% endif %}
                        <td class="uptime">{{ handler['uptime'] }}</td>
                        <td>{{ handler['average'] }}</td>
                        <td>{{ handler['min'] }}</td>
                        <td>{{ handler['max'] }}</td>
                        <td>{{ handler['stddev'] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Disabled Models</h2>

        <div id="model-container">
            {% for handler in handlers %}
                {% if not handler['enabled'] %}
                    <div class="card disabled-card">
                        <div class="model-title-version">
                            <h3>{{ handler['node_id'] }}</h3>
                            <div class="model-version">
                                {{ handler['version'] }} ::
                                <b>{{ handler['model_type'] }}</b> ::
                                {{ handler['traffic'] }}
                            </div>
                            <hr />
                        </div>

                        <div class="model-info">
                            Uptime: <span class="uptime">{{ handler['uptime'] }}</span><br />
                            Average: {{ handler['average'] }} ms<br />
                            Stddev: {{ handler['stddev'] }}
                        </div>
                        <div class="footer">
                            <div class="left">
                                <p><a href="/retire/{{ handler['node_id'] }}">Retire</a></p>
                            </div>
                            <div class="right">
                                <p><a href="/enable/{{ handler['node_id'] }}">Enable</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div style="clear: both;"></div>
    </div>

    <div>
        <h2>Timings per version</h2>
        <table id="timings" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Service ID</th>
                <th>Hostname</th>
                <th>Type</th>
                <th>Version</th>
                <th>Average runtime (ms)</th>
                <th>Min (ms)</th>
                <th>Max (ms)</th>
                <th>Standard deviation</th>
            </thead>
            <tbody>
                {% for timing in timings['version'] %}
                    <tr>
                        <td>{{ timing['service_id'] }}</td>
                        <td>{{ timing['hostname'] }}</td>
                        <td>{{ timing['model_type'] }}</td>
                        <td>{{ timing['version'] }}</td>
                        <td>{{ timing['average'] }}</td>
                        <td>{{ timing['min'] }}</td>
                        <td>{{ timing['max'] }}</td>
                        <td>{{ timing['stddev'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Consumers</h2>
        <table id="consumers" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Node ID</th>
                <th>Bootstrap</th>
                <th>Group ID</th>
                <th>Enable auto commit?</th>
                <th>Max poll records</th>
                <th>Max poll interval (ms)</th>
                <th>Session timeout (ms)</th>
            </thead>
            <tbody>
                {% for consumer in consumers %}
                    <tr>
                        <td>{{ consumer['node_id'] }}</td>
                        <td>{{ consumer['bootstrap_servers'] }}</td>
                        <td>{{ consumer['group_id'] }}</td>
                        <td>{{ consumer['enable_auto_commit'] }}</td>
                        <td>{{ consumer['max_poll_records'] }}</td>
                        <td>{{ consumer['max_poll_interval_ms'] }}</td>
                        <td>{{ consumer['session_timeout_ms'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Events</h2>
        <table id="events" class="display responsive" cellspacing="0" width="400px">
            <thead>
                <th>Event</th>
                <th></th>
                <th>Model</th>
            </thead>
            <tbody>
                {% for handler in handlers %}
                    <tr>
                        <td>{{ handler['event'] }}</td>
                        <td>-&gt;</td>
                        <td>{{ handler['node_id'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Handlers</h2>
        <table id="handlers" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Name</th>
                <th>Event</th>
                <th>Enabled</th>
                <th>Endpoint</th>
                <th>Path</th>
                <th>Node</th>
                <th>Timeout</th>
                <th>Retries</th>
                <th>Service ID</th>
                <th>Return-To</th>
                <th>Average runtime (ms)</th>
                <th>Standard deviation</th>
            </thead>
            <tbody>
                {% for handler in handlers %}
                    <tr>
                        <td>{{ handler['name'] }}</td>
                        <td>{{ handler['event'] }}</td>
                        <td>{{ handler['enabled'] }}</td>
                        <td>{{ handler['endpoint'] }}</td>
                        <td>{{ handler['path'] }}</td>
                        <td>{{ handler['node'] }}</td>
                        <td>{{ handler['timeout'] }}</td>
                        <td>{{ handler['retries'] }}</td>
                        <td>{{ handler['service_id'] }}</td>
                        <td>{{ handler['return_to'] }}</td>
                        <td>{{ handler['average'] }}</td>
                        <td>{{ handler['stddev'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Aggregated Statistics</h2>
        <table id="aggregated" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Event</th>
                <th>Service ID</th>
                <th>Type</th>
                <th>Model Type</th>
                <th>Node</th>
                <th>Count</th>
            </thead>
            <tbody>
                {% for stat in agg_stats %}
                    <tr>
                        <td>{{ stat['event'] }}</td>
                        <td>{{ stat['service_id'] }}</td>
                        <td>{{ stat['stat_type'] }}</td>
                        <td>{{ stat['model_type'] }}</td>
                        <td>{{ stat['node'] }}</td>
                        <td>{{ stat['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
