<template>
  <div class="section">
    <!-- Rooms table -->
    <datatable title="Models" :data="models" :actions="datatableActions">
      <p slot="header" class="is-size-5">
        Models
        <a class="button is-primary is-small"><span class="icon"><i class="fa fa-plus"></i></span></a>
      </p>
      <column slot="columns" display="Sort Order" field="sort" sortable="true"/>
      <column slot="columns" display="name" field="name" sortable="true"/>
      <column slot="columns" display="UUID" field="uuid"/>
    </datatable>
  </div>
</template>

<script>
// import { cloneDeep } from 'lodash/lang'
import Datatable from '@/components/Datatable'
import Column from '@/components/Column'
import Modal from '@/components/Modal'
import Loading from '@/components/Loading'
import Tooltip from '@/components/Tooltip'
import globalLoading from '@/mixins/globalLoading'
import doubleCheckDestroy from '@/mixins/doubleCheckDestroy'
// import * as actions from '@/store/actions'

export default {
  mixins: [globalLoading, doubleCheckDestroy],
  components: { Datatable, Column, Modal, Loading, Tooltip },
  data () {
    return {
      models: [],
      modalOpen: false,
      loading: { name: false, destroying: false }
    }
  },
  computed: {
  },
  created () {
  },
  mounted () {
    this.resetModal()
  },
  methods: {
    /**
     * Reset modal stuff after close.
     */
    resetModal () {
      this.resetDestroying()
    },

    /**
     * Callback on modal close.
     * (From modal internal)
     */
    onModalClose () {
      this.closeModal()
      this.resetModal()
    },

    /**
     * Close modal.
     * (From outside)
    */
    closeModal () {
      this.modalOpen = false
    }
  }
}
</script>
